* {
    margin: 0;
    padding: 0;
}
html{

    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    background-color: #DDD;
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 3.6rem;
}
h3{
    font-size: 3.0rem;
}
h4{
    font-size: 2.4rem;
}
h6{
    font-size: 1.6rem;
}
.wrapper{
    position: relative;
    min-height: 100vh;
    padding-bottom: 3.2rem;
}
header{
    padding-top: 10px;
    background-color: #999;
    color: white;
}
.top a{
    text-decoration: none;
    color: white;
}
article{
    position: relative;
    margin: 0px auto;
}
ul#menu{
    display: flex;
    background-color: #333;
    color: white;
}
#menu li{
    padding: 5px;
    width: 25%;
    text-align: center;
    font-size: 1.8rem;
}
#menu a{
    text-decoration: none;
    color: white;
}
.top{
    display: flex;
    align-items: center;
    margin: 5px
}
.logo{
    max-height: 50px;
    margin-right: 10px;
    padding-bottom: 10px;
}
.site_name{
    padding-bottom: 10px;
}
@media screen and ( min-width:960px ){
    ul#menu{
        height: 3.6rem;
        padding: 0 20%;
    }
    #menu li{
        margin: auto 0;
        border-right: 2px solid white;
    }
    #menu li:last-child{
        border-right: 0px;
    }
}
.top_news{
    text-align: center;
    padding: 10px 0;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 10px;
    padding: 10px;
}
.grid > div {
  background: #ddd;
  overflow: auto;
  min-width: 0;
  padding: 1em;
}
.grid img{
    max-width: 100%;
    object-fit: cover;
}
.kiji_title{
    position: absolute;
    bottom: 2px;
    padding: 10px;
    color: black;
    background-color: rgba(255,255,255,0.5);
    width: 95%;
}
.flex{
    display: flex;
    justify-content: center;
}
.thumbnail{
    width: 350px;
    margin: 10px auto;
    padding: 0 10px;
}
.thumbnail img{
    width: 100%;
}
.midashi{
    min-width: 350px;
    margin: 10px auto;
    padding: 0 10px;
}
.honbun p{
    clear: both;
    padding: 1rem;
    line-height: 2.2rem;
}
@media screen and ( max-width:640px ){
    .flex{
    flex-direction: column;    
    }
    .content{
    margin: 10px auto;
    }
}
footer{
    clear: both;
    position: absolute;
    bottom: 0px;
    background-color: black;
    color: white;
    height: 3.2rem;
    width: 100%;
    margin-top: auto;
}
.copyright{
    position: absolute;
    left: 10px;
    bottom: 0.8rem;
    width: auto;
}
.address{
    position: absolute;
    right: 30px;
    bottom: 0.8rem;
    width: auto;
}
.address a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}